// Specific CSS for your home-page

body {
  background-color: #EDEDED;
  font-family: 'Actor', sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-family: 'Julius Sans One', sans-serif;
}

.row {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.btn {
}
